<div class="alert alert-success alert-dismissible" role="alert" ng-if="dati.feedback">{{ dati.feedback }}</div>

<form id="frmAddPizza" role="form" ng-submit="addPizza()">
    <h2>Add a new pizza</h2>

    <div class="form-group">
        <label for="txtName">Name</label>
        <input type="text" class="form-control" id="txtName" placeholder="Enter name" name="name" ng-model="dati.nome_pizza" />
    </div>
    <div class="form-group">
        <label for="txtPizzeria">Pizzeria</label>
        <input type="text" class="form-control" id="txtPizzeria" placeholder="Enter the name of the pizzeria" name="pizzeria" ng-model="dati.nome_pizzeria" />
    </div>
    <div class="form-group">
        <label for="txtAddress">Pizzeria address</label>
        <input type="text" class="form-control" id="txtAddress" placeholder="Enter address" name="address" ng-model="dati.address" />
    </div>
    <button type="submit" class="btn btn-success center-block">Insert</button>
</form>